################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs/DesignPatterns/v16
/bin/Debug/netcoreapp3.0
/.vs/DesignPatterns/DesignTimeBuild
